<% if flash[:success] %>
    <div class="alert-success"><%= flash[:success] %></div>
<% end %>
<h2>Project: <%= link_to @project.title, edit_users_project_path %></h2>
<p>Use the search box to add products.</p>
<table>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Merchant</th>
        <th scope="col">Option</th>
      </tr>
	<% @project.products.each do |product| %>
		<tr>
			<td><%= image_tag product.photo %></td>
			<td><%= product.description %></td>
			<td>$<%= product.price %></td>
			<td><%= product.merchant %></td>
			<td><%= link_to "Delete",  destroy_item_path(@project, product) %></td>
		</tr>
	<% end %>
</table>
<h3>Total Cost: $<%= @project.total_price %></h3>
