<h3>Search results:</h3>
<%= @search.query %>

<% @list.each do |item| %>
	<p>
		<%= image_tag item[:image] %>
		<%= item[:description] %>
		
		<%= item[:price] %>
		<%= item[:merchant] %>
		<%= link_to "Add to project", projects_path%>
	</p>
<% end %>